.nav-menu {
  width: 100%;
  background-color: #0070d2;
  display: inline-flex;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
}

.nav-item {
  margin-right: 25px;
}

a {
  color: white;
}
