<div class="table-view">
  <div class="table-container">
    <table>
      <tr>
        <th>Cliente</th>
        <th>Descrição</th>
        <th>Telefone</th>
        <th>Serviço solicitado</th>
        <th>Ação</th>
      </tr>
      <tr *ngFor="let request of requests">
        <td>{{request.payload.doc.data().name}}</td>
        <td>{{request.payload.doc.data().description}}</td>
        <td>{{request.payload.doc.data().contact}}</td>
        <td>
          {{getServiceVerboseName( request.payload.doc.data().serviceType )}}
        </td>
        <td>
          <button
            class="form-field"
            type="submit"
            (click)="closeServiceRequest(request.payload.doc._document)"
            nglButton
            variant="base"
          >
            Finalizar
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
